@font-face 
{
    font-family: iransans;
    src: url(./iransans.otf);
}

*{
	font-family: iransans;
}

div.panel{ 
	top:25px;
	left: 25%;
    position: absolute;
    padding: 15px;
    background-color: rgba(113, 113, 113, .75);
    border-radius: 10px;
    word-wrap: break-word;
    color: white;
	display: none;
}